# Dependencies
node_modules/
package-lock.json

# Builds
dist/
www/
build/

# Mobile
*.jks
anansi-release.jks
android/app/build/
android/.gradle/
android/local.properties

# OS
.DS_Store
Thumbs.db

# Local Testing
TESTING FILES - DO NOT UPLOAD TO GITHUB/
